
<div>
	<table>
	<thead>
		<tr>
			<th>Within</th>
			<th>Name</th>
			<th>will be </th>
			<th> Birthday</th>
			
		</tr>
	</thead>
		<tbody>
		{% for p in people.slice(0,limit) %}
		
		<tr>
		{% if p.days == 0 %}
		<td>Today</td>
		{% else %}
			{% if p.days < 10 %}
			  <td>_{{p.days}} days</td>
			{% else %}
			  <td>{{p.days}} days</td>
			{% endif %}
		{% endif %}
		<td>{{p.name}}</td>
		<td>  {{p.age}} Year</td>
		{% if p.day < 10 %}
		  <td>, born on _{{p.date}}</td>
		{% else %}
		 <td>, born on {{p.date}}</td>
		{% endif %}
		<td> in {{p.birthyear}}</td>
		</tr>	
		{% endfor %}
		</tbody>
	</table>
</div>
