
<div>
	<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Days</th>
		</tr>
	</thead>
		<tbody>
		{% for p in people.slice(0,limit) %}
		
		<tr>
			<td>{{p.name}}</td>
			<td>{{p.date}}</td>
		{% if p.days == 0 %}
			<td>Today</td>
		{% else %}
			<td>{{p.days}}</td>
		{% endif %}
		</tr>	
		{% endfor %}
		</tbody>
	</table>
</div>
